@tailwind base;
@tailwind components;
@tailwind utilities;

$orange: #edad4b;
$blue: #77b7cb;
$cream: #feef9d;
$black: #154050;

html {
  overflow-x: hidden;
}

.store-info-link:hover {
  color: $orange;
}

.splide-car li {
  width: 90vw !important;
}

.store-hours {
  background-color: rgba(237, 173, 75, 0.7);
  border-radius: 5px;
}

.menu-page {
  background-color: #fefae8;
  * {
    color: $orange !important;
  }
}

.store-info-buttons a:hover {
  // transform: scale(1.1);
}

.logo {
  a,
  img:hover {
    transform: rotate(20deg);
    transition: 200ms ease-in-out;
  }
}

.landing-content {
  a:hover {
    color: #154050 !important;
  }
}

.bg-cream {
  background: $cream;
}

.bg-orange {
  background: $orange;
}
* {
  font-family: "Lato", sans-serif;
}

.bg-blue-p {
  background: $blue;
}

.reveal-container {
  width: 100%;
  height: 100%;
}
.block {
  position: fixed;
  width: 50%;
  height: 100vh;
  z-index: 99;
  background-color: $blue;
}
.block-left {
  left: 0;
}
.block-right {
  right: 0;
}
.letter {
  user-select: none;
  position: absolute;
  z-index: 1000;
  padding: 0 0.2rem;
  color: white;
  // mix-blend-mode: difference;
}
.row {
  width: 100%;
  height: 50svh;
}
.top-left,
.top-right,
.bottom-right {
  position: absolute;
  z-index: 1000;
}
.top-left {
  top: 32%;
  left: 42%;
}
.top-right {
  top: 32%;
  right: 42%;
}
.bottom-right {
  bottom: 32%;
  right: 42%;
}

.social-media-container svg {
  width: 2rem;
  height: 2rem;
}

button {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  transition: 0.24s;
}
button:hover {
  color: $orange;
}

.food-menu {
  img {
    position: relative !important;
  }
  .food-image-container {
    height: 380px;
    min-width: 300px;
  }
}
a:hover {
  color: #154050;
}
a {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  transition: 0.24s;
}

footer {
  a:hover {
    color: #154050;
  }
  a {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    transition: 0.24s;
  }
}

.footer-icon-wrapper {
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.social-media-container {
  * {
    color: $orange;
  }
  li:hover {
    transform: scale(1.1);
  }
  li {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    transition: 0.24s;
  }
}

.triangle-5 {
  width: 60px;
  height: 30px;
  border-top: solid 30px rgb(255, 255, 255);
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
}

.work-container {
  // * {
  //   margin: auto;
  // }
}

.carousel-container {
  width: 80vw;
  margin: auto;
  padding: 4rem;
  .splide__slide {
    width: 100vw !important;
  }
  img {
    width: 80% !important;
  }
  .splide__arrow {
    background: none;
    color: white;
    color: $blue !important;
    -webkit-text-stroke-color: #77b7cb;
    * {
      color: $blue !important;
      fill: white !important;
      opacity: 1;
    }
  }
  // height: 60vh !important;
  .splide__pagination {
    // left: 0 !important;
    // display: flex;
    // flex-direction: column;
    // height: 100%;
    // left: 0;
    // position: absolute;
    margin-bottom: 1rem;

    // justify-self: left;
    button {
      opacity: 0.95;
      margin: 0.25rem;
      height: 0.6rem;
      width: 0.6rem;

      // left: 0;
      // text-align: left;
      // justify-content: end;
    }
    .carousel-container .splide__pagination button {
      border-width: 1px;
    }
    // align-items: center;
    button {
      left: 0;
      background-color: white !important;
    }
    button.splide__pagination__page.is-active {
      background-color: $blue !important;
    }
  }
}

.store-info-wrapper {
  li,
  h3,
  a,
  ul {
    margin-bottom: 1rem;
  }
  button {
    margin-right: 1rem;
  }
  .line {
    min-width: 30vw;
    width: 80%;
  }
}

.title-orange {
  color: $orange;
}

.border-y-1 {
  border-width: 1px;
}

.landing-bg {
  grid-column-end: -1;
  justify-content: center;
  margin: auto;
  display: flex;
  //   position: absolute;
  align-items: center;
  max-height: -webkit-fill-available;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.react-parallax {
  img {
    position: absolute;
    backface-visibility: hidden;
    filter: none;
    object-fit: cover;
    object-position: center;
    width: 100%;
    object-fit: cover !important;
  }
}

// project page
.project-card-content {
  // Affects the whole card layout

  //   width: 100%;
  .content-container {
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  // color: white; /* bottom: 0; */
  position: absolute;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  justify-content: end;
  align-items: baseline;
}

.bg-gradient {
  background: linear-gradient(
    rgba(0, 0, 0, 0.663),
    rgba(0, 0, 0, 0.679),
    rgba(0, 0, 0, 0.795)
  );
}

.contentful-fill-container {
  img {
    object-fit: cover;
    object-position: center center;
  }
}

.work-bleed-child-container {
  height: 100%;
  width: 100%;
  img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    min-width: 50vw;
    // width: fit-content;
  }
}

.work-bleed-child-container-project {
  height: 100%;
  width: 100%;
  img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    // width: fit-content;
    width: 100%;
  }
}

// project page
.project-card-content {
  // Affects the whole card layout

  //   width: 100%;
  .content-container {
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  // color: white; /* bottom: 0; */
  position: absolute;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  justify-content: end;
  align-items: baseline;
}

.landing-content {
  height: 100vh;
  .header-wrapper {
    display: flex;
    height: 100%;
    h1 {
      margin: auto 0;
    }
  }
}
.container {
  width: 90vw;
  max-width: 1680px;
  margin: auto;
  .wrapper {
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        font-style: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 500;
      }
      h5 {
        margin-top: 260px;
        font-size: 1.8rem;
        font-weight: 600;
        padding-right: 360px;
      }
    }
  }
}

.foot-notes {
  a:hover {
    color: #154050 !important;
  }
}
// header
header {
  // background: $orange;
  top: 0;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  .inner-header {
    position: relative;
    z-index: 1000;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none; /* color: #191919;%20*/
      color: #fff;
    }
    .menu {
      .lang-btn {
        background-color: #77b7cb;
        font-size: 1rem;
        //   margin-right: $sm-space;
        padding: 0.25rem 0.75rem;
        border-width: 1px;
        border-color: white;
        border: solid 1px;
      }
      .lang-btn:hover {
        color: linear-gradient(
          to top,
          #c1dce7,
          #8ab3c3 18.75%,
          #8ab3c3 29.69%,
          rgba(111, 148, 164, 0.8) 78.57%,
          #bdd9e4
        );
        color: #8ab3c3;
        border-color: #8ab3c3;
        box-shadow: #0b0b0b;
        transition: 0.3s ease-in-out;
        background: white;
      }
      align-items: center;
      display: flex;
      // width: 45px;
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.8rem;
        mix-blend-mode: difference;
      }
    }
  }
  .hamburger-menu {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;

    .menu-secondary-background-color {
      background: #8ab3c3;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;

      z-index: -1;
    }
    .menu-layer {
      position: relative;

      //   background: rgb(183, 86, 86);
      background: $blue;

      backdrop-filter: blur(2px);
      height: 100%;
      overflow: hidden;
      .menu-city-background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-repeat: no-repeat;
        -webkit-background-size: cover !important;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover !important;
        animation-name: backgroundEffect;
        animation-duration: 30s;
        animation-iteration-count: infinite;
      }
      .wrapper {
        position: relative;
        height: 100%;
        margin: auto;
        width: 100%;
        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          height: 100%;
          display: flex;
          margin: auto;
          width: 100%;
          nav {
            color: white;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;

            text-align: center;
            width: fit-content;

            font-size: 3rem;
            font-style: normal;
            // font-weight: 700;
            line-height: 100%; /* 5.95625rem */
            letter-spacing: -0.11931rem;
            display: block;
            width: 100%;
            ul {
              margin: 0;
              padding: 0;
              height: 100%;
              width: 100%;

              li {
                list-style: none;
                font-weight: 700;
                position: relative;
                display: flex;
                justify-content: center;
                height: 3rem;
                margin-bottom: 2rem;
                border-bottom: rgba(255, 255, 255, 0.8);
                border-style: solid;
                border-bottom-width: 1.5px;
                width: 100%;

                a {
                  text-align: left;
                  width: 100%;
                  position: absolute;
                  white-space: nowrap;
                  // font-family: Voyage;
                  color: #fff;
                  text-decoration: none;
                  &:hover {
                    color: black;
                  }
                }
              }
            }
          }
          .info {
            color: #fff;
            z-index: 0;
            display: block;
            position: absolute;
            bottom: 2rem;
            right: 0;
            li {
              // text-align: right;
            }
            li:last-child {
              margin-bottom: 0;
            }
            h3 {
              font-size: 1.2rem;
              margin: 8px auto;
            }
            p {
              margin: 0 auto;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

.back-button-container {
  color: white !important;
}

.burger-menu {
  * {
    color: white;
  }
  .menu-links {
    ul li a:hover {
      color: #154050 !important;
      stroke: white;
      fill: none;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

/* Icon 1 */

#nav-icon2 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/* Icon 2 */

#nav-icon2 {
  transform: scale(0.4);
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 5px;
  background: white;
  z-index: 99;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.formcarry-container {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  // font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;

  width: 400px;

  /* NORMAL */
  --fc-border-color: #ECEFF9;
  --fc-normal-text-color: #0E0B3D;
  --fc-normal-placeholder-color: #B3B8D0;

  /* PRIMARY COLOR | HSL FORMAT*/
  --fc-primary-color-hue: 220;
  --fc-error-color-hue: 356;
  --fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
  --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;

  /* HOVER */
  --fc-field-hover-bg-color: #F7F9FC;
  --fc-border-hover-color: #DDE0EE;
  --fc-field-hover-text-color: #B3B8D0;

  --fc-border-active-color: #1463FF;
}

.formcarry-container * {
  box-sizing: border-box;
}

.formcarry-container label {
  display: block;
  cursor: pointer;
}

.formcarry-container .formcarry-block:not(:first-child) {
  margin-top: 16px;
}

/*=============================================
=            Fields           =
=============================================*/

.formcarry-container input,
.formcarry-container textarea,
.formcarry-container select {
  margin-top: 4px;
  width: 100%;
  height: 42px;
  border: 1px solid var(--fc-border-color);
  color: var(--fc-normal-text-color);
  border-radius: 6px;
  padding: 8px 12px;
  
  // font-family: "Inter", sans-serif;
  font-size:14px;
  transition: 125ms background, 125ms color, 125ms box-shadow;
}

.formcarry-container textarea{
  min-height: 188px;
  max-width: 100%;
  padding-top: 12px;
}

.formcarry-container input::placeholder,
.formcarry-container textarea::placeholder,
.formcarry-container select::placeholder {
  color: var(--fc-normal-placeholder-color);
}

.formcarry-container input:hover,
.formcarry-container textarea:hover,
.formcarry-container select:hover {
  border-color: var(--fc-border-hover-color);
  background-color: var(--fc-field-hover-bg-color);
}

.formcarry-container input:hover::placeholder,
.formcarry-container textarea:hover::placeholder,
.formcarry-container select:hover::placeholder {
  color: var(--fc-field-hover-text-color);
}

.formcarry-container input:focus,
.formcarry-container textarea:focus,
.formcarry-container select:focus {
  background-color: #fff;
  border-color: hsl(var(--fc-primary-hsl));
  box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
  outline: none;
}

.formcarry-container select {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
  /* background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); */
  background-size: 24px 24px;
  background-position: 98%;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
}

.formcarry-container button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 42px;
  line-height: 40px;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid hsla(var(--fc-primary-hsl));
  background-color: hsla(var(--fc-primary-hsl));
  color: #fff;
  cursor: pointer;
}

.formcarry-container button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 40px;
  line-height: 24px;
  width: 100%;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: hsla(var(--fc-primary-hsl));
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  
  transition: 125ms all;
}

.formcarry-container button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), hsla(var(--fc-primary-hsl));
}

.formcarry-container button:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
  border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
}

.formcarry-container button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
}

.formcarry-container button:disabled {
  background-color: hsla(var(--fc-primary-hsl), 40%);
  cursor: not-allowed;
}

.formcarry-container input:focus:required:invalid,
.formcarry-container input:focus:invalid, 
.formcarry-container select:focus:required:invalid,
.formcarry-container select:focus:invalid
{
  color: hsl(var(--fc-error-hsl)); 
  border-color: hsl(var(--fc-error-hsl));
  box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
}

/*=====  End of Fields  ======*/

.form-container{
  background: #fefae8;
}